/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.icon {
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
}

.icon-offline {
  content: -webkit-image-set( url(assets/default_100_percent/100-error-offline.png) 1x, url(assets/default_200_percent/200-error-offline.png) 2x);
  position: relative;
  display: none;
}

.hidden {
  display: none;
}


/* Offline page */

#main-frame-error {
  position: absolute;
  top: 50%;
  margin-top: -12.5vw;
}

.offline .interstitial-wrapper {
  color: #2b2b2b;
  font-size: 1em;
  line-height: 1.55;
  margin: 0 auto;
  width: 100vw !important;
}

.offline .runner-container {
  height: 25vw !important;
  width: 100vw !important;
  overflow: hidden;
}

.offline .runner-canvas {
  height: 25vw !important;
  width: 100vw !important;
  opacity: 1;
  overflow: hidden;
  z-index: 2;
}

.offline .controller {
  background: rgba(247, 247, 247, .1);
  height: 100vh;
  left: 0;
  position: absolute;
  top: 25vw;
  width: 100vw;
  z-index: 1;
}

#offline-resources {
  display: none;
}